html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#background {
    position: relative;
    min-height: 1080px;
    width: 100%;
    /* clip-path: polygon(0% 0%, 0% 100%, 0.75% 100%, 0.75% 0.75%, 99.5% 0.75%, 99.5% 99.5%, 0.75% 99.5%, 0.75% 100%, 100% 100%, 100% 0); */
       clip-path: polygon(0% 0%, 0% 100%, 5px 100%, 5px 5px, 1915px 5px, 1915px 1025px, 0 1025px, 0 100%, 100% 100%, 100% 0);
    background-image: url("tokyoghoulsky.png");
    z-index: 0;
}

#backgroundborder {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 1909px;
    height: 1070px;
    top: 0;
    left: 0;
    border: 1px solid white;
    z-index: 1;
}

#backgroundborderline {
    position: absolute;
    margin-top: 1023px;
    margin-left: 5px;
    width: 1910px;
    height: 1px;
    top: 0;
    left: 0;
    border-bottom: 1px solid white;
    z-index: 2;
}

